option_settings:
  - option_name: MYSQL_ROOT_PASSWORD
    value: password
  - option_name: MYSQL_DATABASE
    value: mydb
  - option_name: MYSQL_USER
    value: user
  - option_name: MYSQL_PASSWORD
    value: password0
files:
  "/etc/nginx/nginx.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
               # Elastic Beanstalk Nginx Configuration File
               load_module /usr/lib64/nginx/modules/ngx_stream_module.so;
               user  nginx;
                worker_processes  auto;

                error_log  /var/log/nginx/error.log;

                pid        /var/run/nginx.pid;

               events {
               worker_connections  1024;
                }
               stream {
                 upstream backend {
                  hash $remote_addr consistent;

                  server 172.17.0.2:3306  max_fails=3 fail_timeout=30s;
                  server unix:/tmp/backend3;
                     }
                server {
                      listen 80;
                      proxy_connect_timeout 10s;
                      proxy_timeout 10s;
                      proxy_pass backend;
                     }
                   }
commands:
  01_Install_Nginx_Stream:
    command: sudo yum install nginx-mod-stream.x86_64 -y
  02_Add_Nginx_Stream_Block:
    command: echo "Hello"
  03_restart_Nginx:
    command: sudo service nginx restart
